{% extends 'base.html'%}

{% block content %}
<div class="display-topmiddle center text-spring-green" style="margin-top: 100px">
<h1> Are you confirm you want to delete your post </h1>

<div style="margin-top: 30px">
<div class="btn hover-green border-2-g margin-right"  style="border-radius: 5px; margin-bottom: 20px" onclick="window.history.back();"><i class="fa fa-times margin-right" aria-hidden="true"></i>Cancel</div> 
<div class="btn border-2-g hover-red"  style="border-radius: 5px; margin-bottom: 20px" onclick="window.location='1'"><i class="fa fa-check margin-right" aria-hidden="true"></i>Confim</div> 
</div>
</div>

{% endblock %}