{% extends 'base.html' %}
{% block content %}
  <header class="display-container content center" style="max-width:1500px">
    <img class="image hide-small" src={{blog.img_link}} alt="Me" style="width:100%;height: 75vh; object-fit: cover; filter: brightness(55%);opacity: 0.9" >
    <img class="image hide-large hide-medium" src={{blog.img_link}} alt="Me" style="width:100%;height:65vh; object-fit: cover; filter: brightness(40%);opacity: 0.8" >
    <div class="display-middle padding-large  wide text-light-grey center border-3-w">
      <h1 class="hide-medium hide-small xxxlarge" style="font-family: 'Lato', sans-serif; border:2px solid wbloge; padding: 20px"><b>{{blog.title|title}}</b></h1>
      <h4 class="hide-large wide " style="font-family: 'Lato', sans-serif; border:2px solid wbloge; padding: 20px"><b>{{blog.title|title}}</b></h4>
    </div>
    
  </header>
  <!-- About Container -->
  <div class="container">
    <div class="content" style="max-width:850px;">
      <h5 class="center padding-64" ><span class="tag round padding"><b>{{blog.description|upper}}</b></span></h5>
      <div style="word-break: break-word">
                            <pre style="font-family: 'Source Sans Pro', sans-serif;
        ;font-size: 20px; opacity: 0.8">{{blog.content}}</pre></div></div></div>
        <div class="center">
          <div class="btn border-2-g hover-blue persian-blue hover-spring-green margin-right"  style="border-radius: 5px; margin-bottom: 20px" onclick="window.location='/update/{{blog.id}}'"><i class="fa fa-pencil margin-right" aria-hidden="true"></i>Modify</div>
          <div class="btn  border-2-g persian-blue hover-red "  style="border-radius: 5px; margin-bottom: 20px" onclick="window.location='/delete/{{blog.id}}/';"><i class="fa fa-trash margin-right" aria-hidden="true"></i>Delete</div>
        </div>
      {% endblock %}